.nav-container {
  width: 80px;
  height: 95vh;
  top: 16px;
  left: 16px;
  background-color: #ff9040;
  border-radius: 29px;
  display: grid;
  grid-template-columns: 80px 1fr;
}

.nav-container .nav {
  display: flex;
  flex-direction: column;
  gap: 64px;
  height: 70%;
  margin-top: 32px;
  align-items: center;
  justify-content: flex-start;
}

.nav-container .nav img {
  width: 70%;
}
